<main class="page-content">
  <section class="section-posts">
    <div class="wrapper">
      {% for post in paginator.posts %}<!--limit:2 para limitar os posts da pagina atual-->
        <div class="item-post">
          <article>
            <a class="item-link-overlay" href="{{ post.url | prepend: site.baseurl }}"></a>
            <div class="item-image" style="background-image: url('{{ post.image }}');"></div>

            <h2 class="text-white">
              {{ post.title }}
            </h2>

            <div class="group-description">
              {% for author in site.authors %}
                {% if author.short_name == post.author %}
                  <span class="text-white">por</span>
                  <strong class="author-name text-white">{{ author.name }}</strong>
                {% endif %}
              {% endfor %}

              
              {% assign nowDay = "now" | date: "%d" | abs %}
              {% assign nowMonth = "now" | date: "%m" | abs %}
              {% assign nowYear = "now" | date: "%Y" | abs %}
              {% assign dayCreated = post.date | date: "%d" | abs %}
              {% assign monthCreated = post.date | date: "%m" | abs %}
              {% assign yearCreated = post.date | date: "%Y" | abs %}
              
              {% assign diferencaDay =  nowDay | minus: dayCreated %}
              {% assign diferencaMonth =  nowMonth | minus: monthCreated %}
              {% assign diferencaYear = nowYear | minus: yearCreated %}
              
              {% if  nowYear == yearCreated %}
                {% if diferencaMonth == 0 %}
                  {% if diferencaDay == 0 %}
                    <time class="text-white">há poucas horas</time>
                  {% endif %}
                  {% if diferencaDay > 0 %}
                    <time class="text-white">há {{ diferencaDay }} dias</time>
                  {% endif %}
                {% endif %}

                {% if diferencaMonth > 0 %}
                  <time class="text-white">há {{ diferencaMonth }} meses</time>
                {% endif %}
              {% endif %}
              {% if  nowYear != yearCreated %}
                {% if diferencaYear == 0 %}
                  {% if nowMonth < monthCreated %}
                    {% assign subtrationMonthCreated = 12 | minus: monthCreated  %}
                    {% assign sumMonthNow = subtrationMonthCreated | plus: nowMonth  %}
                    <time class="text-white">há {{ sumMonthNow }} meses</time>
                  {% endif %}
                {% endif %}
                {% if diferencaYear > 0 %}
                  <time class="text-white">há {{ diferencaYear }} ano</time>
                {% endif %}
              {% endif %}

            </div>
            <p class="text-white"><strong>{{ post.categories }}</strong></p>
          </article>
        </div>
      {% endfor %}
    </div>

    <div class="paginations-links">
      <div class="previous-page">
        {% if paginator.previous_page > 0 %}
          <a href="{{ paginator.previous_page_path | relative_url }}">Voltar</a>
        {% endif %}
      </div>
      <div class="next-page">
        {% if paginator.page != paginator.total_pages %}
          <a href="{{ paginator.next_page_path | relative_url }}">Mais publicações</a>
        {% endif %}
      </div>
    </div>
  </section>
</main>