<!DOCTYPE html>
<html lang="pt-br">

  {% include head.html %}

<body>

  <div id="post">
    {% include header.html %}

    <article>
      <div class="section-baner-and-image">
        <div class="main-image" style="background-image: url('{{ page.image }}');"></div>
        <div class="content-information">
          <div class="this-content">
            
            <p class="tags-wrap">
              <strong class="global-tag post-tag">{{ page.categories }}</strong>
            </p>
            <h2>{{ page.title }}</h2>

            <div class="group-description">
              {% for author in site.authors %}
                {% if author.short_name == page.author %}
                  <span>por</span>
                  <strong class="author-name">{{ author.name }}</strong>
                {% endif %}
              {% endfor %}
  
              <time>{{ page.date | date_to_string }}</time>
            </div>
          </div>

        </div>
      </div>
      <div class="section-post">
        {{ content }}
      </div>
    </article>
    
    {% include footer.html %}
  </div>

</body>

</html>
